* {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.7px;
}
section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.grocery-container {
    margin-top: 10px;
    width: 60%;
    /*visibility: hidden;*/
}
.show-container {
    visibility: visible;
}
.grocery-item {
    background-color: rgb(160, 201, 184);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border-radius: 5px;
}
input {
    min-width: 300px;
    padding: 5px;
}
.submit-btn {
    border-style: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(153, 144, 152);
}